# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="file:./db.sqlite"

SINGLESTORE_PASS="defnnotapass"
SINGLESTORE_USER="martin-69fc6"
SINGLESTORE_HOST=somerandomnumbers.svc.singlestore.com
SINGLESTORE_PORT="3333"
SINGLESTORE_DB_NAME="MP_CLAUDE_DB"


CLERK_SECRET_KEY = "ultramegahipergigaextrasecretkey"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = "probablynotsosecretkey"

UPLOADTHING_TOKEN = "eyJhcGlLZXkiOiJza19saXZlX2EwM2E3ZjU5MzYyMWQ5ZTk2OGZjZDk2MThkNTg3NGZjODE0MzA1YjMwM2U1ZGE0Yjg0ZTA5MDI5M2QwMmVlMWUiLCJhcHBJZCI6ImoxaDaskjdgasuidashduioashdashduioashdahuqfopaiofa"


NEXT_PUBLIC_POSTHOG_KEY=phc_GCAaoaspjdaishdoiashidapasdasd23213413
